#flag{
  margin-top: 10px;
    max-width: 10rem;
    max-height: 6rem;
}

.card{
  width: 20rem ;
  height: 20rem;
  background:rgba(238, 232, 232, 0.6);
  border-radius: 25px;
  box-shadow: 10px 10px rgba(204, 206, 212, 0.2);
}

#text_cards{
  font-size: small;
}

