#detail_table{
    vertical-align: baseline;
    background-color:khaki;
    align-items: center;
}
#flag{
    /* margin-top: 2rem;
    margin-left: 17rem; */
}
#information{
    margin-left: 40rem;
}
img{
    width: 40rem;
    height: 20rem;
}
#planilla{
    display: flex;
    flex-direction: row;
}